*{

    margin: 0%;
    padding: 0%;

}
.logo{
    display: inline-block;
    position: relative;
    object-fit: cover;
    object-position: 10% 10%;

    width: 20%;
    height: 100%;


}
.navbar li{
    
    display: inline-block;
    margin-right: 3em;
    padding: 5px;
    position: relative;
    
}